.header {
  transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
 
}

.ant-layout-header {
  position: relative;
}

.header .logo {
  width: 110px;
  height: 32px;
  background: url(../template/glamit-log.svg) no-repeat center center;
  background-size: contain;
  margin: 16px;
  float: left;
}

.header h2 {
  color: #fff;
}

.site-layout-background {
  background: #fff;
}

.ant-menu-inline {
  border-right: 0 !important;
}