.header .logo {
  width: 120px;
  height: 32px;
  background: url(../assets/template/glamit-log.svg) no-repeat center center;
  background-size: contain;
  margin: 16px;
  float: left;
}

.header h2 {
  color: #fff;
}

.site-layout-background {
  background: #fff;
}